<section class="py-16" >
    <div class="container">
        <div class="maindiv  m-auto ">
            <h3 class="font-bold text-2xl">Cities with food delivery</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 m-auto">
                <div class="show p-4 bg-gray-100 rounded-lg  font-bold items-center opacity-65"><h4>Order food online in Bangalore</h4></div>
                <div class="show p-4 bg-gray-100 rounded-lg  font-bold items-center opacity-65"><h4>Order food online in Hyderabad</h4></div>
                <div class="show p-4 bg-gray-100 rounded-lg font-bold items-center opacity-65"><h4>Order food online in Delhi</h4></div>
                <div class="p-4 showMore font-bold cursor-pointer text-center  bg-gray-200 rounded items-center " (click)="showMoreItems()" id="showMoreBtn">
                    Show More <i class="fa-solid fa-chevron-up fa-rotate-180"></i>
                </div>
                <div class="hide p-4 bg-gray-100 rounded-lg hidden items-center font-bold opacity-65"><h4>Order food online in Pune</h4></div>
                <div class="hide p-4 bg-gray-100 rounded-lg hidden items-center font-bold opacity-65"><h4>Order food online in Jaipur</h4></div>
                <div class="hide p-4 bg-gray-100 rounded-lg hidden items-center  font-bold opacity-65"><h4>Order food online in Chennai</h4></div>
                <div class="hide p-4 bg-gray-100 rounded-lg hidden  items-center font-bold opacity-65"><h4>Order food online in Kolkata</h4></div>
            </div>
            
        </div>


        <div class="maindiv  m-auto pt-14 ">
            <h3 class="font-bold text-2xl">Cities with grocery delivery</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 m-auto">
                <div class="show p-4 bg-gray-100 rounded-lg  font-bold items-center opacity-65"><h4>Order  grocery delivery in Bangalore</h4></div>
                <div class="show p-4 bg-gray-100 rounded-lg  font-bold items-center opacity-65"><h4>Order grocery delivery in Hyderabad</h4></div>
                <div class="show p-4 bg-gray-100 rounded-lg font-bold items-center opacity-65"><h4>Order grocery delivery in Delhi</h4></div>
                <div class="p-4 showMore font-bold cursor-pointer text-center  bg-gray-200 rounded items-center " (click)="showMoreItems2()" id="showMoreBtn1">
                    Show More <i class="fa-solid fa-chevron-up fa-rotate-180"></i>
                </div>
                <div class="hide1 p-4 bg-gray-100 rounded-lg hidden items-center font-bold opacity-65"><h4>Order grocery delivery in Pune</h4></div>
                <div class="hide1 p-4 bg-gray-100 rounded-lg hidden items-center font-bold opacity-65"><h4>Order grocery delivery in Jaipur</h4></div>
                <div class="hide1 p-4 bg-gray-100 rounded-lg hidden items-center  font-bold opacity-65"><h4>Order grocery delivery in Chennai</h4></div>
                <div class="hide1 p-4 bg-gray-100 rounded-lg hidden  items-center font-bold opacity-65"><h4>Order grocery delivery in Kolkata</h4></div>
            </div>
            
        </div> 
    </div>
</section>
