<section>
    <div class="container py-16">
        <div class="maindiv" >
            <div class="flex gap-3">
                <i class=" arrow1 fa-solid fa-arrow-right  fa-rotate-180 p-2 bg-slate-300 opacity-45 rounded-full" style="color: #222326;" (click)="translateElement()"></i>
                <i class="fa-solid fa-arrow-right rounded-full p-2 bg-slate-300" style="color: #222326;" (click)="translateLeft()"></i>
            </div>
            <div>
                <h4 class="font-bold text-xl ">Order our best food options</h4>
            </div>
            <div class="flex justify-center items-center myElement  ">
                <img src="../../assets/items/category-1/Dosa.avif" alt="Dosa" (click)="navigateToItem('Dosa')">
                <img src="../../assets/items/category-1/Idli.avif" alt="Idli" (click)="navigateToItem('Idli')">
                <img src="../../assets/items/category-1/Pesarattu.avif" alt="Pesarattu" (click)="navigateToItem('Pesarattu')">
                <img src="../../assets/items/category-1/Cake.avif" alt="Cake" (click)="navigateToItem('Cakes')">
                <img src="../../assets/items/category-1/Poori.avif" alt="Poori" (click)="navigateToItem('Poori')">
                <img src="../../assets/items/category-1/Vada.avif" alt="Vada" (click)="navigateToItem('Vada')">
            </div>
            <div class="flex justify-center items-center myElement">
                <img src="../../assets/items/category-2/Khichdi.avif" alt="Khichdi" (click)="navigateToItem('Khichdi')">
                <img src="../../assets/items/category-2/Parotta.avif" alt="Parotta" (click)="navigateToItem('Paratha')">
                <img src="../../assets/items/category-2/Poha-1.avif" alt="Poha" (click)="navigateToItem('Pongal')">
                <img src="../../assets/items/category-2/Samosa.avif" alt="Samosa" (click)="navigateToItem('Samosa')">
                <img src="../../assets/items/category-2/Shake.avif" alt="Shakes" (click)="navigateToItem('Shakes')">
                <img src="../../assets/items/category-2/Uthappam.avif" alt="Uthappam" (click)="navigateToItem('Uthappam')">
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container py-16">
        <div class="maindiv" >
            <div class="flex gap-3">
                <i class=" arrow1 fa-solid fa-arrow-right  fa-rotate-180 p-2 bg-slate-300 opacity-45 rounded-full" style="color: #222326;" (click)="translateEl()"></i>
                <i class="fa-solid fa-arrow-right rounded-full p-2 bg-slate-300" style="color: #222326;" (click)="transl()"></i>
            </div>
            <div>
                <h4 class="font-bold text-xl ">Shop groceries on Instamart</h4>
            </div>
            <div class="flex justify-center items-center myElement gap-10 ">
                <img src="../../assets/items/category-3/item1.avif" alt="item1">
                <img src="../../assets/items/category-3/item2.avif" alt="item2">
                <img src="../../assets/items/category-3/item3.avif" alt="item3">
                <img src="../../assets/items/category-3/item4.avif" alt="item4">
                <img src="../../assets/items/category-3/item5.avif" alt="item5">
                <img src="../../assets/items/category-3/item6.avif" alt="item6">
            </div>
            
        </div>
        
        
    </div>
    <div class="getApp pt-12">
        <img src="../../assets/items/App_download_banner.avif" alt="">
    </div>
</section>
